@import './fonts';
@import './variables';

// Media Queries
@mixin tablet { 
    @media (min-width: $tablet-breakpoint) {
        @content;    
    }
}

@mixin desktop { 
    @media (min-width: $desktop-breakpoint) {
        @content;    
    }
}


// Fonts
@mixin font-reg {
    font-family: $avenir, Arial, Helvetica, sans-serif;
    font-weight: 400;
} 

@mixin font-bold {
    font-family: $avenir, Arial, Helvetica, sans-serif;
    font-weight: 700;
} 


// Text Styling -- TABLET/DESKTOP
@mixin body-tablet__desk {
    font-size: 0.875rem;
    line-height: 1.375rem;
    @include font-reg();
}

@mixin h1-tablet__desk {
    font-size: 2.0625rem;
    line-height: 2.75rem;
    @include font-bold();
}

@mixin h2-tablet__desk {
    font-size: 0.75rem;
    line-height: 1.25rem;
    @include font-bold();
}

@mixin h3-tablet__desk {
    font-size: 0.875rem;
    line-height: 1.375rem;
    @include font-bold();
}

@mixin p-tablet__desk {
    font-size: 0.875rem;
    line-height: 1.375rem;
    @include font-reg();
}

@mixin labels-buttons-tablet_desk {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.25rem;
    @include font-bold();
}


// Text Styling -- MOBILE
@mixin body-mobile {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    @include font-reg();
}

@mixin h1-mobile {
    font-size: 1.5rem;
    line-height: 2rem;
    @include font-bold();
}

@mixin h2-mobile {
    font-size: 0.75rem;
    line-height: 1.25rem;
    @include font-bold();
}

@mixin h3-mobile {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    @include font-bold();
}

@mixin p-mobile {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    @include font-reg();
}

@mixin labels-buttons-mobile {
    text-transform: uppercase;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    @include font-bold();
}


// Lables & Buttons

@mixin cta-button($backgroundImage) {
    background-color: $brainflix-blue;
    background-image: $backgroundImage;
    background-repeat: no-repeat;
    background-position: 0.75rem 50%;
    color: $brain-white;
    width: 100%;
    height: 2.8125rem;
    margin: 1rem 0;
    text-transform: uppercase;
    @include flexbox-center;
    border-radius: 0.25rem;
    border: none;
    &:hover {
        background-color: $brainflix-darkblue;
    }
    @include tablet {
    }
}

@mixin user-icon-mobile {
    background-color: $mercury;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 2.25rem;
    min-width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
}

@mixin user-icon-tablet-desk {
    background-color: $mercury;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

@mixin flexbox-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin border-bottom {
    border: 0 0 0.0625rem 0;
    border-bottom: solid $mercury;
}

@mixin border-top {
    border: 0.0625rem 0 0 0;
    border-top: solid $mercury;
}

@mixin field-styling {
    @include p-mobile;
    color: $brainflix-black;
    background-color: $alabaster;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: 0.0625rem $mercury solid;
    width: 100%;
    &:focus-visible {
        border: 0.125rem $brainflix-blue solid;
    }
    @include tablet {
        padding-left: 1rem;
        @include p-tablet__desk;
        height: 2.8125rem;
    }
}