@import './fonts';

// Colors
$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$silver: #afafaf;
$brain-white: #fff;
$brainflix-darkblack: #000;
$brainflix-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

// Breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// Images
$publish-img: url(../../assets/images/publish.svg);
$upload-img: url(../../assets/images/upload.svg);
$comment-img: url(../../assets/images/add_comment.svg);

// Fonts
$avenir: 'Avenir Next', Arial, sans-serif;