// Colors
$earth-blue: #005271;
$earth-green: #048785;
$light-color-1: #8cc8d2;
$light-color-2: #ccdedc;
$silver: #afafaf;
$white: #fff;
$light-black: #323232;
$darkblack: #000;
$mercury: #e1e1e1;
$alabaster: #fafafa;


// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Images

// Fonts
@font-face {
    font-family: 'Philosopher-Reg';
    src: url('../../assets/fonts/Philosopher/Philosopher-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Philosopher-Bold';
    src: url('../../assets/fonts/Philosopher/Philosopher-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Reg';
    src: url('../../assets/fonts/Raleway/static/Raleway-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../../assets/fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
}