@import '../../styles/partials/variables';

.header {
    height: 60px;
    background-color: $earth-blue;
    width: 100%;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);


    &__logo {
        color: $white;
        font-size: 38px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 4px;
    }
}