@import './styles/partials/reset';
@import './styles/partials/global';
@import './styles/partials/variables';


#root {
    overflow: hidden;
}

.appContainer {
    position: relative;
    overflow: hidden;
}

.pageContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}