@use './styles/partials/reset' as *;
@use './styles/partials/global' as *;
@use './styles/partials/variables' as*;


#root {
    overflow: hidden;
}

.appContainer {
    position: relative;

    &:last-child {
        height: 100dvh;
        // overflow: hidden !important;
    }
}

.pageContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}